<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tv.superawesome.sdk">

    <application
        android:allowBackup="true">
        <activity
            android:name="tv.superawesome.sdk.views.SAVideoActivity"
            android:label="SAVideoActivity"></activity>
        <activity
            android:name="tv.superawesome.sdk.views.SAInterstitialActivity"
            android:label="SAInterstitialActivity"></activity>

        <!-- Declaring Service in Manifest -->
        <service
            android:name="tv.superawesome.lib.sanetwork.SAGet"
            android:exported="false" />

    </application>

</manifest>
