<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tv.superawesome.sdk">

    <application
        android:allowBackup="true">
        <activity
            android:name=".views.SAFullscreenVideoAd$SAFullscreenVideoAdActivity"
            android:label="SAFullscreenVideoAd"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"></activity>
        <activity
            android:name=".views.SAInterstitialAd$SAInterstitialAdActivity"
            android:label="SAInterstitialAd"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
            android:configChanges="keyboardHidden|orientation|screenSize"></activity>

        <!-- Declaring Service in Manifest -->
        <service android:name="tv.superawesome.lib.sautils.SAAsyncTask$SAAsync" android:exported="false"/>
    </application>
</manifest>
