<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tv.superawesome.sdk">

    <application
        android:allowBackup="true">
        <activity
            android:name="tv.superawesome.sdk.views.SAVideoActivity$SAVideoActivityInner"
            android:label="SAVideoActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
            android:configChanges="keyboardHidden|orientation|screenSize"></activity>
        <activity
            android:name="tv.superawesome.sdk.views.SAInterstitialActivity$SAInterstitialActivityInner"
            android:label="SAInterstitialActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
            android:configChanges="keyboardHidden|orientation|screenSize"></activity>

        <!-- Declaring Service in Manifest -->
        <service android:name="tv.superawesome.lib.sautils.SAAsyncTask$SAAsync" android:exported="false"/>
    </application>
</manifest>
