<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tv.superawesome.sdk.publisher.common">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application>
        <activity android:name=".ui.interstitial.InterstitialActivity"/>
        <activity android:name=".ui.common.BumperPageActivity"/>
        <activity android:name=".ui.fullscreen.FullScreenActivity"/>
        <activity android:name=".ui.video.VideoActivity"/>
    </application>
</manifest>