<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tv.superawesome.sdk.publisher.common">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:supportsRtl="true">

        <activity
            android:name=".ui.interstitial.InterstitialActivity"
            android:exported="false"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" />

        <activity
            android:name=".ui.common.BumperPageActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:excludeFromRecents="true"
            android:exported="false"
            android:theme="@android:style/Theme.Holo.Dialog.NoActionBar" />

        <activity
            android:name=".ui.fullscreen.FullScreenActivity"
            android:exported="false"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" />

        <activity
            android:name=".ui.video.VideoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" />

        <activity
            android:name=".ui.managed.ManagedAdActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" />
    </application>
</manifest>
