<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tv.superawesome.sdk.publisher.ui">

    <application>
        <activity
            android:name=".common.BumperPageActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:excludeFromRecents="true"
            android:label="SABumperPage"
            android:theme="@android:style/Theme.Holo.Dialog.NoActionBar" />
        <activity
            android:name=".interstitial.InterstitialActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="SAInterstitialAd"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" />
    </application>
</manifest>