<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:allowBackup="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true">
        <activity
            android:name="tv.superawesome.sdk.publisher.SAVideoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:label="SAFullscreenVideoAd"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" />

        <activity
            android:name="tv.superawesome.sdk.publisher.SAInterstitialAd"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:label="SAInterstitialAd"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" />

        <activity
            android:name="tv.superawesome.sdk.publisher.managed.SAManagedAdActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:label="SAManagedInterstitialAd"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" />
    </application>
</manifest>
