<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tv.superawesome.sdk.publisher.base">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:label="@string/app_name"
        android:allowBackup="true"
        android:supportsRtl="true">
        <activity
            android:name="tv.superawesome.sdk.publisher.SAVideoActivity"
            android:label="SAFullscreenVideoAd"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
            android:configChanges="keyboardHidden|orientation|screenSize"/>

        <activity
            android:name="tv.superawesome.sdk.publisher.SAInterstitialAd"
            android:label="SAInterstitialAd"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
            android:configChanges="keyboardHidden|orientation|screenSize"/>

        <activity
            android:name="tv.superawesome.lib.sabumperpage.SABumperPage"
            android:label="SABumperPage"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Holo.Dialog.NoActionBar"
            android:excludeFromRecents="true"/>

        <activity android:name="tv.superawesome.sdk.publisher.test.SingleTestActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
            android:screenOrientation="portrait"/>

    </application>
</manifest>
